*{
   margin: 0px;
   padding: 0px;
}
body{
   background: linear-gradient(90deg in oklab, rgb(250, 250, 250), rgb(168, 167, 197));
;

}
.main{
   display: flex;
   flex-direction: row;
   border: 1px solid blueviolet;
   width: 900px;
   height: auto;
   justify-content: center;
   margin-top: 160px;
   margin-left: 200px;
}